1| aiohttp==3.8.3
2| aiosignal==1.3.1
3| async-timeout==4.0.2
4| attrs==22.2.0
5| cachetools==5.2.1
6| certifi==2022.12.7
7| charset-normalizer==2.1.1
8| click==8.1.3
9| configparser==5.3.0
10| flake8==6.0.0
11| frozenlist==1.3.3
12| google-api-core==2.11.0
13| google-api-python-client==2.72.0
14| google-auth==2.16.0
15| google-auth-httplib2==0.1.0
16| googleapis-common-protos==1.58.0
17| httplib2==0.21.0
18| idna==3.4
19| iniconfig==1.1.1
20| mccabe==0.7.0
21| multidict==6.0.4
22| mypy==0.991
23| mypy-extensions==0.4.3
24| oauth2client==4.1.3
25| openai==0.26.0
26| packaging==22.0
27| pluggy==1.0.0
28| protobuf==4.21.12
29| pyasn1==0.4.8
30| pyasn1-modules==0.2.8
31| pycodestyle==2.10.0
32| pyflakes==3.0.1
33| pypandoc==1.10
34| pyparsing==3.0.9
35| pytest==7.2.0
36| requests==2.28.1
37| rsa==4.9
38| six==1.16.0
39| tqdm==4.64.1
40| typing_extensions==4.4.0
41| uritemplate==4.1.1
42| urllib3==1.26.13
43| yarl==1.8.2
44| google-generativeai==0.3.0
